<!DOCTYPE HTML>
<HTML lang="en">
<HEAD>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBNB</title>
    <LINK rel="stylesheet" href="../static/styles/3-header.css">
    <LINK rel="stylesheet" href="../static/styles/3-footer.css">
    <LINK rel="stylesheet" href="../static/styles/4-common.css">
    <LINK rel="stylesheet" href="../static/styles/6-filters.css">
    <LINK rel="stylesheet" href="../static/styles/reset.css">
    <LINK rel="icon" href="../static/images/icon.png">
</HEAD>
<BODY>
    <HEADER>
        <DIV class="container">
            <DIV class="title">
                <H1>HBNB</H1>
            </DIV>
        </DIV>
    </HEADER>
    <DIV class="filters">
        <DIV class="container">
            <DIV class="filters_box">
                <H3>States</H3>
                <H4>&nbsp;</H4>
                <ul>
                    <LI style="list-style: none">{% for state in states %}</LI>
                        <LI>{{ state.name }}
                            <ul>
                                <LI style="list-style: none">{% for city in state.cities %}</LI>
                                    <LI>{{ city.name }}</LI>
                                    <LI style="list-style: none">{% endfor %}</LI>
                            </ul>
                        </LI>
                        <LI style="list-style: none">{% endfor %}</LI>
                </ul>
            </DIV>
            <DIV class="filters_box">
                <H3>Amenities</H3>
                <H4>&nbsp;</H4>
                <ul>
                    <LI style="list-style: none">{% for amenity in amenities %}</LI>
                        <LI>{{ amenity.name }}</LI>
                        <LI style="list-style: none">{% endfor %}</LI>
                </ul>
            </DIV>
        </DIV>
    </DIV>
    <footer>
        <DIV class="container">
            <p>&copy; Holberton School</p>
        </DIV>
    </footer>
</BODY>
</HTML>
