<!DOCTYPE html>
<html lang="en">
<HEAD>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBNB</title>
    <LINK rel="stylesheet" href="../static/styles/103-header.css">
    <LINK rel="stylesheet" href="../static/styles/103-footer.css">
    <LINK rel="stylesheet" href="../static/styles/4-common.css">
    <LINK rel="stylesheet" href="../static/styles/6-filters.css">
    <link rel="stylesheet" href="../static/styles/8-places.css">
</HEAD>

<BODY>
    <DIV class="container">
        <DIV class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="HBNB logo">
        </DIV>
        <DIV class="title">
            <h1>HBNB</h1>
        </DIV>
    </DIV>
  
    <DIV class="filters">
      <DIV class="container">
        <DIV class="filters_box">
          <H3>States</H3>
  
          <H4>&nbsp;</H4>
  
          <UL>
            <LI style="list-style: none">{% for state in states %}</LI>
  
            <LI>{{ state.name }}
  
              <UL>
                <LI style="list-style: none">{% for city in state.cities %}</LI>
  
                <LI>{{ city.name }}</LI>
  
                <LI style="list-style: none">{% endfor %}</LI>
              </UL>
            </LI>
  
            <LI style="list-style: none">{% endfor %}</LI>
        </UL>
        </DIV>
  
        <DIV class="filters_box">
          <H3>Amenities</H3>
  
          <H4>&nbsp;</H4>
  
          <UL>
            <LI style="list-style: none">{% for amenity in amenities %}</LI>
  
            <LI>{{ amenity.name }}</LI>
  
            <LI style="list-style: none">{% endfor %}</LI>
          </UL>
        </DIV>
      </DIV>
    </DIV>
  
    <DIV class="places">
      <DIV class="container">
        <H3>Places</H3>
  
        <DIV class="places_list">
          {% for place in places %}
  
          <DIV class="place">
            <DIV class="price_by_night">
              ${{ place.price_by_night }}
            </DIV>
  
            <H2>{{ place.name }}</H2>
  
            <DIV class="information">
              <DIV class="max_guest">
                {{ place.max_guest }} Guests
              </DIV>
  
              <DIV class="number_rooms">
                {{ place.number_rooms }} Bedrooms
              </DIV>
  
              <DIV class="number_bathrooms">
                {{ place.number_bathrooms }} Bathrooms
              </DIV>
            </DIV>
  
            <DIV class="description">
              {{ place.description | safe }}
            </DIV>
          </DIV>{% endfor %}
        </DIV>
      </DIV>
    </DIV>
  
    <DIV class="container">
      <P>&#169; 2021 Holberton School</P>
    </div>
  </BODY>
  </html>
