<!DOCTYPE html>
<html lang="en">
<HEAD>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <TITLE>HBNB</TITLE>
</HEAD>
<BODY>
  <H1>States</H1>
  <UL>
    <LI style="list-style: none">{% for state in states.values()|sort(attribute="name")
    %}</LI>
    <LI>{{ state.id }}: <B>{{ state.name }}</B>
      <UL>
        <LI style="list-style: none">{% for city in state.cities|sort(attribute="name")
          <LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
          <LI style="list-style: none">{% endfor %}</LI>
      </UL>
      <LI style="list-style: none">{% endfor %}</LI>
  </UL>
</BODY>
</html>
